Dependencies

node_modules/
pycache/
*.pyc

Heavy Files & Downloads

backend/downloads/
backend/bin/
*.exe
*.mp4
*.mp3
*.mkv
backend/ffmpeg.exe
backend/ffplay.exe
backend/ffprobe.exe

Environment Variables

.env

Build folders

dist/
build/